<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fsz570.exam_demo"
    android:installLocation="preferExternal">
    <!-- android:installLocation="preferExternal" -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".EntryActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TopicActivity"
            android:label="@string/title_activity_topic"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".TopicOneActivity"
            android:label="@string/title_activity_topic_one"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".TopicTwoActivity"
            android:label="@string/title_activity_topic_two"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".TopicThreeActivity"
            android:label="@string/title_activity_topic_three"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
